body, html {
	height: 100%;
	background-color: #F8F8FF;
}

.logo {
	padding: 10px;
	border-bottom: 5px solid;
	box-shadow: 0 4px 2px -2px gray;
}

p {
	margin: 0;
}

.price {
	color: #4CFF00;
}

.unavailable {
	color: red;
}

.product-list {
	padding-top: 10px;
	padding-bottom: 10px;
}

.footerinfo {
	background-color: gray;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

@media screen and (max-width: 992px) {
    body{font-size: 25px;}
	h5{font-size: 30px;}
}