body, html {
	height: 100%;
	background-color: #F8F8FF;
}

.logo {
	padding: 10px;
	border-bottom: 5px solid;
}

p {
	margin: 0;
}

.price {
	color: #4CFF00;
}

.unavailable {
	color: red;
}

.product-list {
	margin-top: 10px;
	margin-bottom: 10px;
}

.product-image {
	background-color: green;
}

.product-preview {
	margin-top: 20px;
	margin-bottom: 10px;
}

.product-title {
	margin: 0;
}

.page-link {
	color: black;
}

.page-link:hover {
	color: black;
}

.footerinfo {
	background-color: #404040;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

@media screen and (max-width: 992px) {
    body{font-size: 20px;}
	h5{font-size: 25px;}
}