body {
	background-color: #5d5c61;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

header {
	background-color: #ff0000;
	border: 2px solid #000000;
	margin: 5px;
	padding: 3px;
}	

nav {
	background-color: #ffff00;
	border: 2px solid #000000;
	margin: 5px;
	padding: 3px;
}	

section {
	background-color: #ff00ff;
	border: 2px solid #000000;
	margin: 5px;
	padding: 3px;
}	

article {
	background-color: #ff0000;
	border: 2px solid #000000;
	margin: 5px;
	padding: 3px;
}	

aside {
	background-color: #00ffff;
	border: 2px solid #000000;
	margin: 5px;
	padding: 3px;
}	

footer {
	background-color: #cccccc;
	border: 2px solid #000000;
	margin: 5px;
	padding: 3px;
}	

